.divider{
    background-color: #262626;
    height: 28px;
    margin: 0 16px;
    width: 1px;
}

.search-input {
    border: solid 1px #dbdbdb;
    background-color: #fafafa;
    border-radius: 3px;
    color: #262626;
    text-align: center;
    grid-area: Search-Area;

}

.search-input:focus {
    background-color: #fff;
  }

.search-container{
    margin-top: 10px;
    height: 28px;
    width: 31vw;
}

#btn-out {
    cursor: pointer;
}