.post-btn-group {
    width: 6vw;
    margin: 8px;
    display: flex;
    justify-content: space-evenly;
}

.post-btn-group button, .post-btn-group button:hover {
    text-decoration: none;
    color: #262626;
}


